<link rel="stylesheet" href="/css/bootstrap.min.css">

<body>
{{> menu numero="1"}}
    <h1>Hola Mundo</h1>
    <h1>Hola Mundo</h1>
{{> productos}}
<body>
 <h1>Esto es un Encabezado</h1>
 <p>Esto es un párrafo con estilo de Bootstrap</p>
 <button class="btn btn-success" onclick="$
(this).hide();">Escóndeme</button>
</body>
</body>
</html>