<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <img src="/assets/img/banana.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">BANANA</h5>

      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/assets/img/cebollas.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Cebollas</h5>

      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/assets/img/pimenton.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">pimenton</h5>

      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/assets/img/papas.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Papas</h5>
      </div>
    </div>
  </div>
    <div class="col">
    <div class="card">
      <img src="/assets/img/lechuga.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Lechuga</h5>
      </div>
    </div>
  </div>
    <div class="col">
    <div class="card">
      <img src="/assets/img/tomate.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Tomate</h5>

      </div>
    </div>
  </div>
</div>